useDynLib(MCMChybridGP, .registration = TRUE)
import(MASS)
importFrom(graphics, abline, legend, lines, par, points, title)
importFrom(stats, IQR, density, optim, rnorm, runif)
importFrom(Rcpp, evalCpp)

export(
    GProcess,
    generateX0,
    hybrid.explore,
    hybrid.sample,
    Demo
)

