useDynLib(MCMChybridGP)
import(MASS)
importFrom("graphics", "abline", "legend", "lines", "par", "points",
           "title")
importFrom("stats", "IQR", "density", "optim", "rnorm", "runif")

export(
       .hybrid.template,
       .runMCMCdemo,
       .refresh.title,
       .show.time,
       GProcess,
       generateX0,
       hybrid.explore,
       hybrid.sample
       )

